// Define variables for your color scheme

// Bootstrap
$red: #EE5F5B;
$blue: #469AE0;
$gray: #000000;
$light-gray: #F4F4F4;
$green: #3C8D01;
$yellow: #F2B708;
$orange: #F66000;

// Color Scheme
// $white: #F7F7F7;
// $black: #0B0C10;
// $dblue: #1F2833;
// $lblue: #45A1AD;
// $lgrey: #F7F9F9;
// $lred: #CE3D5F;

$white: #ccc;
$black: #1E1E1E;
$dblue: white;
$lgrey: #F7F9F9;

$lred: #91AA9D;
$lblue: #3E606F;

