.banner-dashboard{
  height:40vh;
  background-image:url(cinema.jpg);
  background-size:cover;
  background-position:center;
  z-index:4;
  text-align:center;
  display:flex;
  justify-content:center;


    background-attachment: fixed;
    background-repeat: no-repeat;
}

.friend-chat-container{
  background-color:#f4f4f4;
  padding-top:200px!important;
  margin-bottom:0px;
  padding-bottom:200px;
  position:relative;
  display:flex;
  justify-content:center;
  text-align:center;
  align-items:center;
    box-shadow:-1px -1px 1px black;
}
.friends-zone{
  text-align:center;
  h1{
    color:$bblue;
  }
  #friend-friends{
   margin-top:30px;
 }
 .my-friends{
  display:flex;
  align-items:center;
  justify-content:center;
}

}
.friend-card-container{
 // border: 1px solid black;
 //  box-shadow: -1px -1px 1px white;
  margin:5px;
}
// .friend-card-body{
//   width:100%;
//   background-color:$bgreen;
//   padding:20px;
// }
.friend-card-photo{
  width:100%;
  border-radius:50%;
  border:1px solid $bblue;
  box-shadow:1px 1px 1px black;
}
.friend-card-header{

  text-align:center;
  height:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  p{margin:0px;
    color:black;
  }
}
.tags-friends{
  width:auto!important;
  font-size:1em!important;
  margin:20px 10px!important;
  width:calc(33% - 20px)!important;
  /* Firefox */
  height: -moz-calc(33% - 20px)!important;
/* WebKit */
height: -webkit-calc(33% - 20px)!important;
/* Opera */
height: -o-calc(33% - 20px)!important;
/* Standard */
height: calc(33% - 20px)!important;

}
.container-friends-only{
  padding-bottom:50px!important;

}

// .chat-zone{
//   text-align:center;
//   padding:0px 20px;
//   h1{
//     color:white;
//   }
// }
// .chat-container{
//   min-height:300px;
// }
// .chat-title{
//   background-color:$lred;
//   height:40px;
//   padding:10px;
//   color:white;
// }
// .chat-containt{
//   background-color:$black;
//   min-height:300px;
//   overflow:scroll;
//   resize:vertical;
// }
// .chat-footer{
//   background-color:white;
//   height:40px;
//   padding:10px;
//   color:black;
// }


.friend-card-footer{
  text-align:center;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:3px;
  p{margin:0px;
    color:black;
    line-height:20px;

  }
}

.cards-columns{
  padding:10px;
}
.current-user-card{
  // border: 1px solid black;
  // box-shadow: -1px -1px 1px white;
  // height:500px;
  // background-color:$bblue;
  width:35%;
  z-index:10;
  margin-top:10vh;
  padding:50px;
  .card-details h2{
    font-weight:bolder;
    color:$bgreen;
    line-height:30px;
  }
  .card-details h3{
   color:$bgreen;
    font-weight:lighter;
  }
}
.card-user-pic{
  border-radius:50%!important;
  height:auto!important;
  width:300px!important;
  border:2px solid $bgreen;
 box-shadow: 1px 1px 1px black;
}


.bottom-section{
  background-color:$dblue;
  margin-top:0px;
  padding-top:100px;
  padding-bottom: 200px;

}

.container-my-movies{
  height:600px;


}
.my-movie-box{
  height:460px;
  padding:3px;
  position:relative;
  .my-movies{
    border-top:20px solid $lred;
    border-bottom:20px solid white;
    height:100%;
    width:100%;
    background-size:cover;
    background-position:center;
    position:relative;

  }

}

.display-none{
  display:none;
}
.dashboard-tab-title{
  color:white;
}
.tab-row{
  bottom:0px;
  position:absolute;
  width:100%;
}
.dashboard-tab{
  height:100px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:$black;
  font-size:2em;
  background-color:#ddd!important;
  margin-top:50px;
  cursor:pointer;
  opacity:0.5;
}
.dashboard-tab:hover{
  opacity:0.8;
}


#dashboard-tab1{
  border-top-right-radius:15px;

}
#dashboard-tab2{
  border-top-left-radius:15px;
}
.tab-active{
  opacity:1!important;
  background-color:white!important;

}
//Code for mouseOver on cards movie


.movie-hover{
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;

  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);
  // text-align:center;
}
.my-movie-title{
  width:100%;
  background-color:white;
  height:70px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:30px;
  h2{
    font-size:1.3em;
  }

}

.my-movie-tags-list{
  margin-left:-20px;
  margin-right:20px;
  text-align:center;
  list-style-type:none;
  li{
    color:white;
    list-style-type:none;
    border:1px solid white;
    border-radius:15px;
    padding:10px;
    margin-bottom:10px;
  }
}



// ---------------------------
.my-movie-tags{
  color:white;
  cursor:pointer;
  text-align:center;

}
.my-movie-tags:hover{
  color:$lblue;
}
.friends-tag-row{
  background-color:$bgreen;
  padding-left:20px;
  padding-right: 20px;
  border-radius:15px;
}
.film2-genre{
  // background-color:blue!important;
}
