.landing-image{
  background-size: cover !important;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
}
.landing-content{
  margin-right: 35px;
  text-align: right;
  height: 500px;
  width: 60vw;
}
.title h1{
  font-family: 'Pacifico', cursive;
  font-size: 150px ! important;
  color: $black;
  line-height: 80px;
  position: absolute;
  top: 130px;
  right: 60px;
}
.sub-title{
  font-size: 40px ! important;
  color: $bdgrey;
  position: absolute;
  top: 250px;
  right: 170px;
}
.landing-button{
  position: absolute;
  top: 360px;
  right: 400px;
}
.landing-btn{
  padding:14px 26px;
  background-color:rgba(255,255,255,0.6);
  box-shadow: 0px 0px 10px rgba(238, 65, 61, 0.6);
  border-radius:10px;
  border: 2px solid $bred;
  color: $bred;
  font-weight: bolder;
  transition: opacity 0.25s;
}
.landing-btn:hover {
  text-decoration: none;
  color: $bred;
  background-color:rgba(255,255,255,0.9);
  box-shadow: 0px 0px 10px rgba(238, 65, 61, 0.9);
}
