.landing-image{
  background-size: cover !important;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
}
.landing-content{
  margin-right: 35px;
  text-align: right;
  height: 500px;
  width: 60vw;
}
.title h1{
  font-family: 'Pacifico', cursive;
  font-size: 150px ! important;
  color: $black;
  line-height: 80px;
  position: absolute;
  top: 130px;
  right: 60px;
}
.sub-title{
  font-size: 40px ! important;
  color: $bdgrey;
  position: absolute;
  top: 250px;
  right: 170px;
}
.landing-button{
  position: absolute;
  top: 360px;
  right: 100px;
}
.landing-btn{
  padding: 15px 38px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid $bblue;
  color: $bblue;
  font-weight: bolder;
  text-align: center;
}
.landing-btn:hover {
  text-decoration: none;
  box-shadow: 0px 0px 10px $bblue;
  font-weight: lighter;
  color: $bblue;
}
