.landing-image{
  background-size: cover !important;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
}
.landing-content{
  height: 100%;
  float:right;
  background:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
  text-align:center;
  padding-top:100px;
}
.landing-content2{
  height: 100%;
  float:left;
  background:linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.5));
}
.title h1{
  font-family: 'Pacifico', cursive;
  font-size: 120px ! important;
  margin-bottom:-30px;
  // color: $bblue;
  // line-height: 80px;
  //   text-shadow: 0 0 2px black, -5px -5px 10px white, 5px 5px 10px black;
  // position: absolute;
  // top: 130px;
  // right: 60px;
}
.sub-title{
  font-size: 40px ! important;
  color: $bdgrey;
  // position: absolute;
  // top: 250px;
  // right: 170px;
}
.landing-button{
    margin-top:50px;

}
.landing-btn{

  padding: 15px 38px;
  background-color: $bblue;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  text-align: center;
  opacity:0.8;
  box-shadow:1px 1px 1px #ddd;
}
.landing-btn:hover {
  text-decoration: none;
  opacity:1;
  color: white;
}

@media only screen and (max-width: 990px) {

    .landing-content2
{display:none}
}
