<div class="container col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="row">
    <% @movies.each do |movie|%>
      <div class="col-xs-12 col-sm-4">
        <div class="card"> <%= image_tag(movie.poster, :style => "width: 80%; border-radius: 10px;") %>
        <%= link_to "", movies_show_path(movie), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

