<div id="movies-index" class="flex-movie">
  <% @my_movies.first(50).each do |movie|%>
      <div 
        class="movie-card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= movie.poster? ? image_path(movie.poster, height: 300, width: 400, crop: :fill) : 'http://placeholder.it' %>');"
      >
      <%= link_to "", movie_path(movie), class: "card-link", remote: true %>
    </div>
  <% end %>
</div>
