
<div class = "wrap">
  <div class = "pbox">
    <div class = "genres"> <p >GENRE</p> </div>
    <div class = "tag"> <p>TAGS</p> </div>
    <div class = "tag2"> <p>TAGS</p> </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <% @tags.each do |tag|%>
          <div class="col-xs-12 col-sm-3">
            <div class = "cards text-center">
              <a href="" class="btn-filmy"> <%= tag.name %></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @movies.each do |movie|%>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= movie.poster? ? image_path(movie.poster, height: 300, width: 400, crop: :fill) : 'http://placeholder.it' ; %>');">
      <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>

