
<div class="main-container-index">
  <div class="movie-poster-mozaic">
    <%= render 'movies/search_header' %>
    <div class="flex-mozaic">
      <%= render "movie_list" %>
    </div>
  </div>
  <div id="sidebar-container" class="sidebar-container">
    <div id="sidebar-wrapper" class="movie-poster-sidebar" onclick="sidebarClick(event, this)">
    </div>
     <div id="movie-sidebar" class="movie-sidebar" ></div>
  </div>
</div>

