<%= render 'movies/search_header' %>
<div class = "wrapper">
  <div class="homepage-container">
    <div class="flex">
      <div class="flexbox-movies">
        <%= render "movie_list" %>
      </div>
      <div class="flexbox-movie-info">
        <div id="movie-sidebar"></div>
      </div>
    </div>
  </div>
</div>



