<div class="landing" style="background-image: url('<%= image_path "home_image.jpg" %>');">
  <!-- <div class="image"></div> -->
  <div class="landing-content">
    <div class="title">
      <h1>Feeling<br>
      Filmy </h1>
      <h2>Discover the next movies you will love</h2>

      <%= link_to  "Let's go!", movies_path, class: "btn btn-danger" %>

    </div>
    <div class="flex-item">
      <div id="slideshow">
        <div>
          <img src="http://www.cutestpaw.com/wp-content/uploads/2016/02/Yawn..jpeg", style="width:300px">
        </div>
        <div>
          <img src="https://catvetofhebron.com/wp-content/uploads/2016/01/CATImage00034-300x200.jpg">
        </div>
        <div>
         <img src="https://www.smartpettoysreview.com/wp-content/uploads/2018/02/cat-spraying-no-more-review-99-300x200.jpg">
       </div>
      </div>
    </div>
  </div>
</div>

<div class = "wrap-cards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="process-card">
          <p > <i class="fas fa-search search-icon"></i> </p>
          <!-- <img src="" alt=""> -->
          <h3>Search</h3>
          <p>Filter through tags and <br> genres to find the perfect movie!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <div class="process-card">
          <img src="" alt="">
          <h3>card title</h3>
          <p>description</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="process-card">
          <img src="" alt="">
          <h3>card title</h3>
          <p>description</p>
        </div>
      </div>
    </div>
  </div>
</div>
