<div class="landing-image" style="background-image: url('<%= image_path "cinema.jpg" %>');">

<div class="landing-content">
  <div class="title">
    <h1>Feelin' Filmy</h1>
  </div>
  <div class="sub-title">
    <h2>Discover your next favorite movie</h2>
  </div>
  <div class="landing-button">
    <%= link_to  "Let's go!", movies_path, class: "landing-btn" %>
  </div>
</div>

