<div class="landing-image row" style="background-image: url('<%= image_path "cinema.jpg" %>');">
<div class="col-md-6 col-lg-6 landing-content2">
</div>







<div class="landing-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="title">
    <h1>Feelin' Filmy</h1>
  </div>
  <div class="sub-title">
    <h2>Discover your next favorite movie</h2>
  </div>
  <div class="landing-button">
    <%= link_to  "Let's go!", movies_path, class: "landing-btn" %>
  </div>
</div>

