<div class="container">
  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-xs-12 col-sm-4">
        <a href="" class="btn-filmy"><%=tag.name %></a>
      </div>
    <% end %>
  </div>
</div>

