<!-- <div class="wrapper">
  <div class="tag-bar">
    <h3>Tags</h3>
    <% #@tags.each do |tag| %>
    <p><%= tag %></p>
    <% #end %>
  </div>
  <div class="container">

  </div>
</div> -->
<h1>HOMEPAGE INDEX</h1>
