.btn-filmy {
  border: 2px solid $lblue;
  padding: 10px 15px;
  border-radius: 20px;
  width: 100px;
  position: relative;
  text-align: center;
  color: $lblue;
  font-weight: bolder;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.btn-filmy:hover {
  text-decoration: none;
  border: 2px solid $lred;
  color: $lred;
}

.active {
  text-decoration: none;
  border: 2px solid $lred;
  color: $lred;
}
.cards {
  height: 40px;
  margin-top: 15px;
}

.wrap {
  display: flex;
  justify-content: center;
}

.pbox{
  display: flex;
  flex-direction: column;
}
.genres {
  margin-top: 21px;
}
.tag {
  margin-top: 18px;
}
.tag2 {
  margin-top: 43px;
}

.movie{
  height:40px;
}
.btn-sites {
  border: 2px solid $lblue;
  padding: 10px 15px;
  border-radius: 20px;
  width: 100px;
  position: relative;
  text-align: center;
  color: $lblue;
  font-weight: bolder;
}
.btn-sites:hover {
  opacity: 1;
  text-decoration: none;
  border: 2px solid $lred;
  color: $lred;
}
.btn-sign-up{
  background-color: transparent;
  border: solid 1px #CE3D5F;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 12px;
  border-radius: 2px;
  }
.btn-sign-up a{
  text-decoration: none;

}

.btn-sign-up:hover{
  text-decoration: none;
}
