.btn-filmy {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.btn-filmy:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.active {
  background-color: blue;
}
.cards {
  height: 40px;
  margin-top: 15px;
}

.wrap {
  display: flex;
  justify-content: center;

}

.pbox{
  display: flex;
  flex-direction: column;
  margin-bottom: -173px;
}
.genres {
  margin-top: 21px;
}
.tag {
  margin-top: 18px;
}
.tag2 {
  margin-top: 43px;
}

.movie{
  height:40px;
}

.page-content{
}
