.card-review{
background-color:white;
margin-top:30px;
position:relative
}
.card-review-body{
  border-top:20px solid $lred;
  background-color:$dblue;
  margin: 40px;
  text-align:center;
  padding:10px;
}
.review_avatar{
  position:absolute;
  border: 2px solid $lblue;
  border-radius:50%;
  top:20;
  left:20;
  width: 90px;
}
.card-review-title{
  padding-top:30px;
  color:$lred;
}
.card-review-subtitle{
  color:white;
  padding-bottom:10px;

}
.card-review-content{
  color:white;
}
