.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  position:fixed;
  bottom:0px;
  width:100%;
  z-index: 1000;
  box-shadow: -0 -1px 5px 0 rgba(0,0,0,0.07),-0 -1px 0 0 rgba(0,0,0,0.03)
}
.footer-links {
  align-items: center;
  text-align: center;
}
.footer-links a {
  color: $bgreen;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $blgrey;
}
.discover{
  background-color: #00E2EC;
  padding: 31px;
}

.discover a:hover {
  color: black;
}
.what {
  color: white;
}
#discover-word {
  color: #FF006F;
}
#question{
  color:white;
}

.f-size{
  font-size: 16px ! important;
}
.footer-quotes
{}
@media only screen and (max-width: 990px) {
    .footer {
        position:static!important;
    }
    .footer-quotes
{display:none}
}
